*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    clear: both;
    display: table;
    content: "";
}
.debug .container{
    height: 1400px;
    background-color: aqua;
}
.debug .products{
    height: 1500px;
    background-color: rgb(42, 73, 73);
}
.debug .product{
    height: 600px;
    background-color: rgb(255, 0, 234);   
}
.debug .discount{
    height: 28px;
    width: 100%;
    background-color: rgb(255, 0, 234);
}
.discount{
    position: absolute;
    top: 90%;
    left: 0;
}
.products{
    width: 90%;
    margin: auto;

}
.product{
    width: 30%;
    margin: 20px 20px 80px 20px;
    float: left;
    position: relative;
}
div .image_product{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
div .image_product_secondary{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
}
.image_product:hover{
    cursor: pointer;
    opacity: 0;
}
.image_product_secondary:hover{
    opacity: 100%;
}
.hearts_case{
    height: 48px;
    width: 48px;
    background-color: rgb(255, 255, 255);   
    position: absolute;
    top: 20px;
    right: 0;
}
.hearts{
    color: black;
    position: absolute;
    top: 35%;
    right: 30%;
}